.App{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 50;
}
.custom_row{
  background-color: #cbe0bb !important;
  /* color: white; */
}
/* .MuiDataGrid-columnHeader{
  max-height:20px;
}
.MuiTablePagination-selectLabel.css-pdct74-MuiTablePagination-selectLabel,.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows{
height: 20px;
font-size: 12px;
margin: 0px;
padding: 0px;
}
@media (min-width: 600px) {
  .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
      min-height:32px;
      padding-right: 2px;
  }
} */